ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  aspect-ratio: 16 / 9;
  filter: drop-shadow(0 0 10px #0003);
  overflow: hidden;
}

.carousel__viewport {
  position: absolute;
  inset: 0;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.carousel__viewport::-webkit-scrollbar {
  display: none;
}
.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  scroll-snap-align: center;
  background-position: center;
  background-size: cover;
}

/* background s image */
.carousel__slide:nth-child(1) {
  background-image: url('https://dl.dropboxusercontent.com/scl/fi/mpzrs0s4evjaw4flydkwj/warszawa.jpg?rlkey=ctu3mwrdcxcrowx307aspu20y&st=eild8i9y');
}
.carousel__slide:nth-child(2) {
  background-image: url('https://dl.dropboxusercontent.com/scl/fi/91z845pxg5u4xslw1c3hr/novotel-parking.png?rlkey=4envhi9716n0gte0vwrgrsxvi&st=gyd4fibi');
}

/* snapper = klikalny overlay */
.carousel__snapper {
  position: absolute;
  inset: 0;
}

/* Strzałki */
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: grid;
  place-items: center;
  text-decoration: none;
  font-size: 1.25rem;
}
.carousel__prev {
  left: 0.5rem;
}
.carousel__next {
  right: 0.5rem;
}
.carousel__prev::before {
  content: '⬅️';
}
.carousel__next::before {
  content: '➡️';
}

/*  Kropki */
.carousel__navigation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.5rem;
  display: grid;
  place-items: center;
}
.carousel__navigation-list {
  display: flex;
  gap: 0.5rem;
}
.carousel__navigation-button {
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  text-indent: -9999px;
  overflow: hidden;
  outline: none;
}
.carousel__navigation-button:focus,
.carousel__navigation-button:hover {
  background: rgba(0, 0, 0, 0.7);
}

@media (prefers-reduced-motion: reduce) {
  .carousel__viewport {
    scroll-behavior: auto;
  }
}
